
<div class="row">
<div class="col-md-6 text-left">
    <select name="selectedQuantity" id="aantal" [(ngModel)]="defaultRowPerPage" (change)="setPager()">
        <option value="10" >10</option>
        <option value="20" >20</option>
        <option value="50" >50</option>
        <option value="100" >100</option>option>
    </select>
</div>
<div class="col-md-6 text-right">
    <input #search class="search" type="text" placeholder="Search" (keydown.enter)="onSearch(search.value)" (keydown)="onSearch(search.value)" (keyup)="onSearch(search.value)">
</div>
<div class="col-md-12">
    <ng2-smart-table [settings]="tableColumn" [source]="tableData"></ng2-smart-table>
</div>
</div>
 