<b class="screen-overlay"></b>
<nav class="navbar2 navbar d-lg-none fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <button data-trigger="#navbar_main" class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand mx-auto" href="#">Simulator</a>
  </div>
</nav>

<!-- d-lg-none -->

<nav id="navbar_main" class="mobile-offcanvas navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container nav-cont">
    <a class="navbar-brand d-none d-lg-block" href="#">Simulator</a>
    <div class="offcanvas-header">
      <button class="navbar-toggler btn-close"><span class="navbar-toggler-icon"></span></button>
      <!-- <h5 class="py-2 mx-auto text-white d-inline mx-auto">Navbar</h5> -->
    </div>
    <ul class="navbar-nav">
      <!-- <li class="nav-item active"> <a class="nav-link" [routerLink] = "'/home'">Home </a> </li>
      <li class="nav-item"><a class="nav-link" [routerLink] = "'/table'"> Table </a></li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> More items </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
          <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
        </ul>
      </li> -->
    </ul>
  </div>

</nav>
<br><br>

<header class="section-header py-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</header> <!-- section-header.// -->