body.offcanvas-active {
    overflow: hidden;
  }
  .navbar {
    box-shadow: -1px 4px 15px #0000006e;
  }
  
  .offcanvas-header {
    display: none;
  }
  
  .screen-overlay {
    width: 0%;
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
  }
  .screen-overlay.show {
    transition: opacity 0.5s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  
  @media all and (max-width: 992px) {
    .offcanvas-header {
      display: block;
    }
  
    .mobile-offcanvas {
      visibility: hidden;
      transform: translateX(-100%);
      border-radius: 0;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1200;
      width: 80%;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
      background-color: #fff !important;
    }
  
    html:lang(ar) .mobile-offcanvas {
      transform: translateX(100%);
    }
  
    .mobile-offcanvas.show {
      visibility: visible;
      transform: translateX(0);
    }
  
    .nav-cont {
      display: block !important;
      padding-right: auto !important;
      padding-left: auto !important;
    }
  
    .navbar2 {
      box-shadow: 0px 3px 17px #00000047;
    }
    #navbar_main {
      box-shadow: 0px 3px 17px #00000047;
    }
    .dropdown-menu {
      border: none;
    }
    .nav-item {
      border-bottom: 1px solid #eaeaea;
    }
  }
  