/* You can add global styles to this file, and also import other style files */

.ng2-smart-title {
    color: #1e6bb8 !important;
}

button, input, optgroup, select, textarea {
    border: 1px solid #eee;
}