<div class="row">
  <div class="col-md-12">
    <fieldset class="custom-border">
      <legend style="width: auto;">One-time Push</legend>
      <!-- <div id="chart" style="background: #e8e8e8;width: 100%;border: 1px solid #ccc;height: 400px;"></div> -->
      <div class="form-wrap">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="path">Base URL <small>*</small></label>
              <input type="url" name="path" id="ot_path" [(ngModel)]="oneTime.path" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="dkey">Domain Key <small>*</small></label>
              <input type="password" name="dkey" id="dkey" [(ngModel)]="oneTime.dkey" class="form-control"
                placeholder="********">
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="akey">API key <small>*</small></label>
              <input type="password" name="akey" id="akey" [(ngModel)]="oneTime.akey" class="form-control"
                placeholder="********">
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="rule">Rule <small>*</small></label>
              <div class="d-flex">
                <select id="rule" class="form-control" [(ngModel)]="oneTime.rule" style="width: 50%;">
                  <option value="message">Message</option>
                  <option value="binary">Binary</option>
                  <option value="named">Named</option>
                </select>
                <input type="text" name="ruleName" id="ruleName" [(ngModel)]="oneTime.ruleName" class="form-control"
                  placeholder="ID / Name" style="width: 50%;">
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-sm-12">
            <div class="form-group">
              <label>Request Params <small>*</small></label>
              <ace-editor [(text)]="oneTimeRequestParams" mode="json" style="height:200px;" [theme]="'eclipse'">
              </ace-editor>
              <!-- <ngx-json-viewer [json]="requestParams"></ngx-json-viewer> -->
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <button type="click" (click)="oneTimePush()" id="btn-login" class="btn btn-custom btn-lg btn-block"
              style="margin-top: 200px;"> Push</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="col-md-12">
    <fieldset class="custom-border">
      <legend style="width: auto;">Interval-time Push</legend>
      <!-- <div id="chart" style="background: #e8e8e8;width: 100%;border: 1px solid #ccc;height: 400px;"></div> -->
      <div class="form-wrap">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="path">Base URL <small>*</small></label>
              <input type="url" name="path" id="ot_path" [(ngModel)]="allTime.path" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="dkey">Domain Key <small>*</small></label>
              <input type="password" name="dkey" id="dkey" [(ngModel)]="allTime.dkey" class="form-control"
                placeholder="********">
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="akey">API key <small>*</small></label>
              <input type="password" name="akey" id="akey" [(ngModel)]="allTime.akey" class="form-control"
                placeholder="********">
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="rule">Rule <small>*</small></label>
              <div class="d-flex">
                <select id="rule" class="form-control" [(ngModel)]="allTime.rule" style="width: 50%;">
                  <option value="message">Message</option>
                  <option value="binary">Binary</option>
                  <option value="named">Named</option>
                </select>
                <input type="text" name="ruleName" id="ruleName" [(ngModel)]="allTime.ruleName" class="form-control"
                  placeholder="ID / Name" style="width: 50%;">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <label for="time">Time Interval (ms)<small>*</small></label>
              <input type="number" name="time" id="time" [(ngModel)]="allTime.time" class="form-control"
                placeholder="">
            </div>
          </div>
          <div class="col-lg-9 col-sm-12">
           
          </div>
          <div class="col-lg-12 col-sm-12">
            <div class="form-group">
              <label>Request Params <small>(Value must be in array)*</small></label>
              <ace-editor [(text)]="allTimeRequestParams" mode="json" style="height:200px;" [theme]="'eclipse'">
              </ace-editor>
              <!-- <ngx-json-viewer [json]="requestParams"></ngx-json-viewer> -->
            </div>
          </div>
          <div class="col-lg-9 col-sm-12">
          </div>
          <div class="col-lg-3 col-sm-12">
            <button type="click" (click)="allTimePush();showStopBtn=true;" id="btn-login"
              class="btn btn-custom btn-lg btn-block" *ngIf="!showStopBtn"> Start</button>
            <button type="click" (click)="stopAllTimePush();showStopBtn=false;" id="btn-login"
              class="btn btn-danger btn-lg btn-block" *ngIf="showStopBtn"> Stop</button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
